/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


@import './colors.scss';

$yarn-bg: $color-ghost-white;
$yarn-panel-bg: $color-white;
$yarn-primary-color: $color-gray-20;

$yarn-header-bg: $color-gray-97;
$yarn-border-color: $color-light-gray;


$yarn-success-border: $color-green-secondary;
$yarn-success-bg: $color-green-primary;
$yarn-error-border: $color-red-secondary;
$yarn-error-bg: $color-red-primary;
$yarn-info-border: $color-blue-secondary;
$yarn-info-bg: $color-blue-primary;
$yarn-warn-border: $color-yellow-secondary;
$yarn-warn-bg: $color-yellow-primary;

$yarn-gray-icon: $color-gray-40;

$yarn-muted-text: $color-gray-60;


//shadows
