<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>

<property>
  <name>https.keystore.location</name>
  <value>${user.home}/.keystore</value>
</property>

<property>
  <name>https.keystore.password</name>
  <value>changeme</value>
</property>

<property>
  <name>https.keystore.keypassword</name>
  <value>changeme</value>
</property>

</configuration>
