*.iml
*.ipr
*.iws
.idea
.svn
.classpath
.project
.settings
target
hadoop-common-project/hadoop-kms/downloads/
hadoop-hdfs-project/hadoop-hdfs/downloads
hadoop-hdfs-project/hadoop-hdfs-httpfs/downloads
