# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

*~
.classpath
.externalToolBuilders
.launches/
.project
.settings
.svn
autom4te.cache
build/
build.properties
build-fi/
conf/masters
conf/slaves
conf/hadoop-env.sh
conf/hadoop-site.xml
conf/core-site.xml
conf/mapred-queue-acls.xml
conf/mapred-site.xml
conf/hdfs-site.xml
conf/hadoop-policy.xml
conf/capacity-scheduler.xml
conf/fair-scheduler.xml
docs/api/
ivy/ivy-*.jar
ivy/maven-ant-tasks-*.jar
junitvmwatch*.properties
junit[0-9]*.properties
logs/
src/contrib/ec2/bin/hadoop-ec2-env.sh
src/contrib/index/conf/index-config.xml
src/docs/build
src/docs/cn/build
src/docs/cn/src/documentation/sitemap.xmap
src/docs/cn/uming.conf
src/contrib/hdfsproxy/src/test/resources
src/c++/(libhdfs|pipes|task-controller|utils)/Makefile
src/c++/*/Makefile.in
src/c++/*/aclocal.m4
src/c++/*/config.guess
src/c++/*/config.sub
src/c++/*/configure
src/c++/*/depcomp
src/c++/*/install-sh
src/c++/*/ltmain.sh
src/c++/*/missing
src/c++/*/impl/config.h.in
src/c++/*/m4/libtool.m4
src/c++/*/m4/ltoptions.m4
src/c++/*/m4/ltsugar.m4
src/c++/*/m4/ltversion.m4
src/c++/*/m4/lt~obsolete.m4
src/examples/pipes/configure
src/examples/pipes/Makefile.in
src/examples/pipes/aclocal.m4
src/examples/pipes/config.guess
src/examples/pipes/config.sub
src/examples/pipes/depcomp
src/examples/pipes/impl/config.h.in
src/examples/pipes/install-sh
src/examples/pipes/ltmain.sh
src/examples/pipes/missing
src/native/configure
src/native/INSTALL
src/native/Makefile.in
src/native/aclocal.m4
src/native/config.h.in
src/native/config/config.guess
src/native/config/config.sub
src/native/config/depcomp
src/native/config/install-sh
src/native/config/ltmain.sh
src/native/config/missing
