/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.tile {
  margin: 5px 5px 0px 5px;
  padding: 5px;
  border: 1px solid #cdcdcd;
  height: 210px;
  overflow: hidden;
  background-color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  min-width: 250px;
}

.panel {
  margin: 5px 0px 0px 0px;
  padding: 5px;
  border: 1px solid #cdcdcd;
}

.desc {
  position: relative;
  top: 100px;
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
  padding-right: 25px;
}

.appBanner {
  display: block;
  height: 40px;
}

.appList {
  display: block;
}

html, body, .container {
  height: 100%;
}

.container {
    display:table;
    width: 100%;
    margin: 0;
    padding: 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.wizard {
    height: 100%;
    border: none;
}

.wizard-body {
    height: 100%;
}

.navigation-header div.btn-group div {
    display: inline;
}

.navigation-header div.btn-group div a:hover {
    text-decoration: none;
}

.navigation-bar-container ul.nav.side-nav-menu li.mainmenu-li {
    color: #999;
}

.navigation-bar-container ul.nav.side-nav-menu li.mainmenu-li:hover {
    background-color: #404351;
}

.navigation-menu-item {
    padding-left: 30px;
}

ul.nav.side-nav-menu li {
    height: 55px;
}

.navigation-bar-container ul.nav.side-nav-menu li.mainmenu-li>a {
    color: #b8bec4;
}

.navigation-bar {
    height: 100%;
}

.navigation-bar-container {
    height: 100%;
}

.content {
    margin: 5px;
}

.mdl-shadow-4dp {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

/*
 * hexagon
 */
.hexa, .hexa div {
  position: absolute;
  top: -5px;
  left: 0px;
  overflow: hidden;
  width: 128px;
  height: 128px;
}
.hexa {
  width: 128px;
  height: 96px;
}
.hexa div {
  width: 100%;
  height: 100%;
}
.hexa {
      -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
}
.hex1 {
      -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}
.hex2 {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
      -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}

/*
 * card title
 */
.card-title {
  position: absolute;
  top: 5px;
  left: 128px;
}

.card-desc {
  margin: 10px;
  padding-right: 25px;
}

.card-footer {
  position: relative;
  margin: 0px 5px 5px 5px;
  padding: 5px;
  background-color: #eeeeee;
  line-height: 25px;
  height: 45px;
  color: #666;
  font-family: Roboto,sans-serif!important;
  font-size: 14;
  min-width: 250px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.toparea {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 300px;
  color: #2c2e3b;
  background: -webkit-linear-gradient(left,#2e3b51 ,#181d2b);
  background: -moz-linear-gradient(right,#2e3b51,#181d2b);
  background: -o-linear-gradient(right,#2e3b51,#181d2b);
  background: linear-gradient(to right,#2e3b51 ,#181d2b);
}

.pattern-wrapper {
  width: 100%;
  height: 300px;
  background-image: url(img/pattern-f61c2e99f82389a67432f54155c5f483.png);
  background-repeat: no-repeat;
  background-position: 0px 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.recommended {
  color: #fff;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  opacity: 0.3;
}

.loader {
  display: table;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.loader img {
  width: 300px;
  height: 225px;
}

.infobox {
    font-size:14px;
    margin:20px;
    padding:10px;
}

.grid-container {
  display:table;
  width:100%;
  height: 100%;
  padding: 0;
  margin-top: 0px;
}

.grid-row {
  height: 100%;
  display: table-row;
}

.grid-row .no-float {
  display: table-cell;
  float: none;
  vertical-align: top;
}

.navbar-close {
  text-align:right;
}

.apps {
  z-index: 99;
}

.side-bar {
  min-width: 230px;
  width: 16.666667%;
  height: 100%;
  background-color: #2D3A4F;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
}
