a:hover {text-decoration:underline;}
a:link {text-decoration:none;}

.formTableContent {background-color:#FFFFFF;text-align:left;vertical-align:top;}
.formTableLeft {font-weight:bold;text-align:right;background-color:#CCCCCC;vertical-align:top;text-indent:3pt;}
.formInput {font:normal 11px Arial;color:#3A5A87;padding-left:0px;}
.formInput-disabled { font:normal 11px Arial;color:#3A5A87;background-color:#DDDDDD;padding-left:0px; }
.formReadOnly {border-style:solid;border-width:1px;border-color:#C0C0C0;font:bold 11px Arial;color:#3A5A87;padding-left:0px;}
.formTable {font:normal 11px Arial;background-color:#AAAAAA;}
.formControlRow {font:normal 11px Arial;color:#333333;background-image:url(/images/controlBackground.jpg);background-repeat:repeat-x;}
.formButton {font:bold 11px Arial;color:#FFFFFF;background-image:url(images/titlebar.gif);background-color:#7B0099;vertical-align:middle;border-width:1px;height:20px;border:1px solid #000;}
.formButton:hover { font:bold 11px Arial;color:#000000;background-image:url(images/navbar-selected.gif);vertical-align:middle;border-width:1px;height:20px;border:1px solid #000; }
.formButton-disabled {font:bold 11px Arial;color:#AAAAAA;background-color:#DDDDDD;vertical-align:middle;border-width:1px;height:20px;}
.formRadio {width:14px;}
.formSelect {font:normal 11px Arial;color:#3A5A87;z-index:100;}
a.hyperlink:link {color:inherit;text-decoration:underline; }
a.hyperlink:visited {color:inherit;text-decoration:underline; }
a.hyperlink:hover {color:#5E76AA;text-decoration:underline;background:#E9EE94; }
a.hyperlink:active {color:inherit;text-decoration:underline }

A.Dropdown {font-family:Arial;color:#1E4F66;text-decoration:none;}
A.Dropdown:visited {font-family:Arial;color:#1E4F66;text-decoration:none;}
A.Dropdown:active {font-family:Arial;color:#1E4F66;text-decoration:underline;}
A.Dropdown:hover {font-family:Arial;color:#1E4F66;text-decoration:underline;}
A.Dropdown:link {font-family:Arial;color:#1E4F66;text-decoration:none;}

A.sectionLink {font-family:Arial;color:#FFFFFF;text-decoration:none;}
A.sectionLink:visited {font-family:Arial;color:#FFFFFF;text-decoration:none;}
A.sectionLink:active {font-family:Arial;color:#FFFFFF;text-decoration:none;}
A.sectionLink:hover {font-family:Arial;color:#FFFFFF;text-decoration:none;}
A.sectionLink:link {font-family:Arial;color:#FFFFFF;text-decoration:none;}


body {font-family:Arial;background-color:#ffffff;}

.messageTable {font:normal 11px Arial;background-color:#999999;border-style:solid;border-top:0;border-bottom:0;border-width:1px;border-color:#777772;}
.messageTableContent {font:normal 11px Arial;background-color:#FFFFFF;color:#1E4F66;text-align:left;}
.messageTableLeft {font:bold 11px Arial;background-color:#e9e8e6;text-align:left;color:#555555;vertical-align:top;}
.messageTableRight {font:normal 11px Arial;background-color:#e9e8e6;text-align:left;color:#555555;vertical-align:top;}
.tableBorder {border-style:solid;border-top:0;border-width:1px;border-color:#777772;font:normal 11px Arial;color:#1E4F66;}
.tableBorder-alt {border-style:solid;border-top:0;border-width:1px;border-color:#777772;background-color:#F5FAFA;font:normal 11px Arial;color:#1E4F66;}
.tableBorderSide {border-style:solid;border-top:0;border-bottom:0;border-width:1px;border-color:#777772;}
.whitespace {background-color:#FFFFFF;}
.formControlRowBottom {font:bold 11px Arial;color:#FFFFFF;background-image:url(/images/controlBackgroundBottom.jpg);background-repeat:repeat-x;}
.mailListBorder {background-color:#c0c0c0;}
.configurationTableContent {font:normal 11px Arial;color:#000000;background-color:#FFFFFF;height:14;}
.configurationTable {font-size:11px;border-style:solid;border-top:0;border-width:1px;border-color:#777772;background-color:#FFFFFF;}


.table-subhead {font:bold 11px Arial;color:#4a4a4a;background-color:#E9E8E6;height:25px;vertical-align:middle;}
.white { background-color:#ffffff;background-image:none; }

.glossy_icon {
        position:relative; /*this is the key*/
        z-index:24;
        text-decoration:none
}

.glossy_icon img {
        position:relative; /*this is the key*/
        z-index:24;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=65);
        opacity:.65; -moz-opacity: 0.65;
        text-decoration:none;
        border:none;
}

.glossy_icon:hover {
        z-index:25;
        border:none;
        text-decoration:none;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
        opacity:1.00; -moz-opacity: 1.00;
}

.glossy_icon:hover img {
        z-index:25;
        border:none;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
        opacity:1.00; -moz-opacity: 1.00;
}

.glossy_icon span{display: none}

.glossy_icon:hover span{ /*the span will display just on :hover state*/
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
        color:#000;
        display:block;
        position:absolute;
        top:2em;left:-2em;
        border:1px solid #000;
        padding: 2px 2px 2px 2px;
        background-color:#FFFFE1; color:#000;
        font:normal 11px Arial;
        text-align: right;
        text-decoration:none;
}

.glossy_icon:disabled {
        border:none;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=25);
        opacity:.25; -moz-opacity: 0.25;
}

.group_box {
	font:normal 11px Arial;
	color:#1E4F66;
	width:100%;
	background-color:#FFFFFF;
}

.group_box-alt {
	font:normal 11px Arial;
	color:#1E4F66;
	width:100%;
	background-color:#F5FAFA;
}

.table-header {
  text-align:center;
  border: 1px solid #cccbc6;
  background-color: #e9e8e6;
  color: #686663;
  font: normal 10 Helvetica, Arial;
}
#mainContainer{
	width:100%;
	margin:0 auto;
	text-align:left;
	height:100%;		
	padding-bottom:30px;
}

.dragableBox{	/* The RSS box */
	border-top: 1px solid #795089;
	border-left: 1px solid #795089;
	border-right: 1px solid #795089;
	border-bottom: 1px solid #795089;
	background-color:#FFFFFF;
	margin:0px 0px 5px 0px; 
}

#dragableBoxShadow {
	background: url(/images/shadow2.png) no-repeat left top !important;
	background: url(/images/shadow2.gif) no-repeat left top;
	float: left;
	padding: 0px 6px 6px 0px;
}

.dragableBoxHeader{	/* Header inside RSS box */
        color:#FFFFFF;
        background-image:url(images/titlebar.gif);
        background-repeat: repeat-x;
	height:20px;
	font:bold 12 Helvetica, Arial;vertical-align:middle;
	font-weight:bold;
}
.dragableBoxHeader span{	/* Text inside header of RSS box */
	line-height:20px;
}
.dragableBoxHeader img,.dragableBoxHeader span{	/* Text and reload image inside RSS box */
	float:left;
}
.boxItemHeader{	/* Title of items inside dragable boxes */
	font-weight:bold;
	margin:0px;
	color:#000;
	text-decoration:none;
	overflow:hidden;
}	
.boxItemHeader:hover{	/* Title of items inside dragable boxes - mouseover*/
	font-weight:bold;
	margin:0px;
	color:#F00;
	text-decoration:underline;
}
.dragableBoxHeader input{	/* text inputs that gets visible when you click on the "edit" link at the top of a rss box */
	font-size:12px;	
}
	
.rssNumberOfItems{	/* Number of RSS items in header - the one inside parantheses */
	color:#F00;
}
.dragableBoxContent{	/* DIV holding data inside dragable boxes */
	padding:3px;
	clear:both;
	font-size: 10px;
}
#rectangleDiv{	/* Dotted rectangle indicating where objects will be dropped */
	border:1px dotted red;
	margin:5px;
}
	
.closeButton{	/* Close button */
	padding:2px;
	border:1px solid #317082;
	line-height:9px;
	height:9px;
	margin:2px;
	color:#317082;
	padding:2px;
	padding-bottom:3px;
}
.closeButton_over{	/* Close button - mouse over */
	padding:2px;
	border:1px solid #317082;
	line-height:9px;
	padding:2px;
	padding-bottom:3px;
	margin:2px;	
	background-color:#317082;
	color:#FFF;
}
.dragableBoxStatusBar{	/* Status bar at the bottom of rss boxes */
	display:none;
	height:14px;
	background-color:#E2EBED;
	font-size: 10px;
	padding:2px;
}
	
.dragableBoxEdit {
	font-size: 10px;
	background-color:#eeeeee;
}

.dragableBoxEditLink{	/* Edit link on top of a box */
	color:#317082;
	text-decoration:none;
	padding-top:1px;
}
.dragableBoxEditLink:hover{	/* Edit link - mouse over */
	color:red;
	text-decoration:underline;
}
form{	/* No borders in forms */
	display:inline;
}

body#main_body, div#workspaceContainer {
	height: 100%;
}

.tabcontent{
	display:none;
	background-color: #ffffff;
}

/***********************************************/
div.portal_menu {background: rgb(255,255,240); border: 1px #000 dotted;}
table.menu_table {font-size:x-small;}
hr.separator {border:1px #000 solid; color: #c0c0c0; background-color: #c0c0c0;}

div.rss_feed_div {
        color:#002E40;
        font:normal 11 Helvetica, Arial;
        border-collapse: collapse;
}

div.portal_util_div table {font-size:11px;}

.portal_table {
        color:#002E40;
	font:normal 11 Helvetica, Arial;
	border-collapse: collapse;
}

.portal_table caption {
	font-size           : 11px;
	font-weight: bold;
	border-collapse: collapse;
}

.portal_table th {
	color: #4a4a4a;
	border: 1px solid #c0c0c0;
	text-align: center;
	background-color: #e9e8e6;
}

.portal_table td {
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
        color:#002E40;
}


.portal_table td.high {
	background: red;
	color: #797268;
}

.portal_table td.medium {
	background: yellow;
	color: #797268;
}

.portal_table td.alt {
	background: #F5FAFA;
	color: #797268;
}

.page_tab:focus {
    	-moz-outline: 0px solid #000000 !important;
	-moz-outline-offset: 1px	!important;
	-moz-outline-radius: 5px	!important;
}

.html_div {
	padding: 5px 5px 5px 5px;
}

.notice_table {
    background: #eeeeee;
    padding: 1px;
    width: 100%;
}

.notice_table thead {
    background: #eeeeee;
}

.notice_table th {
    font-weight:bold;	
}

.notice_table_author {
    font-weight:bold;	
    text-align:left;
}

.notice_table_time {
    font-weight:bold;	
    text-align:right;
}

.notice_table td {
    background: white;
}

.content {
	background-color: #8faabb;
}

a {
	text-decoration: none;
	color: #000000;
}

#page_config_menu {
	position: absolute;
	background: white;
	border: 1px solid #000000;
	z-index: 10;
}

#manage_view {
	overflow: auto;
	background: #eeeeee;
	z-index: 10;
}

#widget_view {
	overflow: auto;
	background: #eeeeee;
	z-index: 10;
}

.portal_top_nav_bar {	/* Header inside RSS box */
        color:#1E4F66;
	font:bold 10 Helvetica, Arial;vertical-align:middle;
	font-weight:bold;
	color: #002e30;
}

.clear_table, .widget {
        font:normal 11 Helvetica, Arial;
        color:#002E40;
        border-collapse: collapse;
}

.simple_table {
        font:normal 11 Helvetica, Arial;
        border: 1px solid #c0c0c0;
        border-collapse: collapse;
        padding: 1px;
}

.simple_table td {
        text-decoration:none;
        height: 16px;
        font:normal 11 Helvetica, Arial;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
        color:#002E40;
}

.simple_table th {
        color: #4a4a4a;
        border: 1px solid #c0c0c0;
        text-align: center;
        background-color: #e9e8e6;
}

.simple_table caption {
        font-size           : 11px;
        font-weight: bold;
        border-collapse: collapse;
}

.highlight {
        background-color:#88ceff;
}

.page_selector_table {
border-bottom: 1px solid #cccccc;
margin: 0;
}


table.titlebar {font:bold 11px Arial;color:#FFFFFF;vertical-align:middle;border-width:1px;height:14px;border:1px solid #000;background-image:url(images/titlebar.gif);background-repeat:repeat-x;background-color:#7B0099;}

table.simple {
	border-width: 1px;
	border-style: solid;
	border-color: #E1D8E5;
	border-collapse: collapse;
        font: normal 11px Arial; color:#000000;
	background-color: #ffffff;
}
table.simple th {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: #E1D8E5;
	background-color: #E1D8E5;
        font: bold 11px Arial; color:#000000;
	-moz-border-radius: ;
}
table.simple td {
	text-decoration: none;
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: #E1D8E5;
	-moz-border-radius: ;
}

thead.fixedHead {
	width:100%;
	display:block;
	background-color: #E1D8E5;
}

thead.fixedHead th {
	width:5%;
}

thead.fixedHead th + th {
	width:95%;
}

tbody.scrollContent {
	height: 262px;
	overflow: auto;
	display:block;
	width:100%;
}

div.shadow {
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	float:left;
	background-color:#000000;
	filter:alpha(opacity=25);
	opacity:.25;
	-moz-opacity:.25;
	z-index:11;
}

*.carpe_horizontal_slider_display_combo {
	clear: left;
	margin: 0;
}
*.carpe_vertical_slider_display_combo {
	float: left;
	margin: 0;
}
*.carpe_horizontal_slider_track {
	background-color: #bbb;
	color: #333;
	width: 120px;
	float: left;
	margin: 0;
	line-height: 0px;
	font-size: 0px;
	text-align: left;
	padding: 4px;
	border: 1px solid;
	border-color: #ddd #999 #999 #ddd;
}
*.carpe_vertical_slider_track {
	background-color: #bbb;
	color: #333;
	padding: 3px 6px 15px 6px;
	width: 24px;
	height: 100px;
	border: 1px solid;
	border-color: #ddd #999 #999 #ddd;
}
*.carpe_horizontal_slider_track *.carpe_slider_slit {
	background-color: #333;
	color: #ccc;
	width: 110px;
	height: 2px;
	margin: 4px 4px 2px 4px;
	line-height: 0px;
	position: absolute;
	z-index: 1;
	border: 1px solid;
	border-color: #999 #ddd #ddd #999;
}
*.carpe_vertical_slider_track *.carpe_slider_slit {
	background-color: #000;
	color: #333;
	width: 2px;
	height: 100px;
	position: absolute;
	margin: 4px 10px 4px 10px;
	padding: 4px 0 1px 0;
	line-height: 0px;
	font-size: 0;
	border: 1px solid;
	border-color: #666 #ccc #ccc #666;
}
*.carpe_horizontal_slider_track *.carpe_slider {
	width: 16px;
	background-color: #666;
	color: #333;
	position: relative;
	margin: 0;
	height: 8px;
	z-index: 1;
	line-height: 0px;
	font-size: 0px;
	text-align: left;
	border: 2px solid;
	border-color: #999 #333 #333 #999;
}
*.carpe_vertical_slider_track *.carpe_slider {
	width: 20px;
	background-color: #666;
	color: #333;
	position: relative;
	margin: 0;
	height: 8px;
	z-index: 1;
	line-height: 0px;
	font-size: 0px;
	text-align: left;
	border: 2px solid;
	border-color: #999 #333 #333 #999;
}
*.carpe_slider_display_holder {
	background-color: #bbb;
	color: #333;
	width: 34px;
	margin: 0;
	float: left;
	padding: 0 2px 0 0;
	height: 20px;
	text-align: right;
	border: 1px solid;
	border-color: #ddd #999 #999 #ddd;
}
.carpe_slider_display {
	background-color: #bbb;
	color: #333;
	padding: 3px 1px 0 0;
	width: 30px;
	text-align: right;
	font-size: 11px;
	line-height: 10px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	border: 0;
	cursor: default;
}

body > .panel {
    padding: 10px;
}

.panel > fieldset {
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    border: 0;
    background: #FFFFFF;
}

.row  {
    position: relative;
}

fieldset > .row:last-child {
}

.row > select {
}

.row > input {
}

.row > label {
    margin: 0 0 0 14px;
    line-height: 12px;
}

.row > .toggle {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 100px;
    height: 28px;
}

.toggle {
    border: 1px solid #888888;
    -webkit-border-radius: 6px;
    background: #FFFFFF url(../images/toggle.png) repeat-x;
    font-size: 19px;
    font-weight: bold;
    line-height: 30px;
}

.toggle[toggled="true"] {
    border: 1px solid #143fae;
    background: #194fdb url(../images/toggleOn.png) repeat-x;
}

.toggleOn {
    display: none;
    position: absolute;
    width: 60px;
    text-align: center;
    left: 0;
    top: 0;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
}

.toggleOff {
    position: absolute;
    width: 60px;
    text-align: center;
    right: 0;
    top: 0;
    color: #666666;
}

.toggle[toggled="true"] > .toggleOn {
    display: block;
}

.toggle[toggled="true"] > .toggleOff {
    display: none;
}

.thumb {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 40px;
    height: 28px;
    border: 1px solid #888888;
    -webkit-border-radius: 6px;
    background: #ffffff url(../images/thumb.png) repeat-x;
}

.toggle[toggled="true"] > .thumb {
    left: auto;
    right: -1px;
}

.panel > h2 {
    color:#002E40;
    font-family:Helvetica,Arial;
    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
}

