.menubar {
background-repeat: repeat-x;
background-image: url('images/titlebar.gif');
}

#menu {
color: #fff;
font: bold 11px/16px arial, helvetica, sans-serif;
width: 100%;
float: left;
background-repeat: repeat-x;
background-image: url('images/titlebar.gif');
}

#menu ul {
list-style: none;
margin: 0;
padding: 0;
float: left;
}

#menu a, #menu span, #menu h2 {
}

#menu h2 {
color: #fff;
background: #000;
text-transform: uppercase;
}

#menu a {
color: #fff;
text-decoration: none;
display: block;
border-width: 0px;
margin: 0;
padding: 2px 3px;
}

#menu a:hover {
background: #9970A8;
}

#menu ul:hover {
background: #9970A8;
}

#menu li {position: relative;}

#menu ul ul {
position: absolute;
width: 12em;
z-index: 500;
}

#menu ul ul ul {
position: absolute;
top: 0;
left: 100%;
}

div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{display: none;}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;}

div#menu ul ul table {
width:100%;
color: #fff;
font: bold 11px/16px arial, helvetica, sans-serif;
background-color: #785088;
}

div#menu ul ul td:hover {
width:100%;
color: #fff;
background-color: #9970A8;
cursor:pointer;
}
