.tab-on {
        font: bold 11px/16px arial, helvetica, sans-serif;
        border-style:normal;border-top:1px;border-bottom:0px;border-width:5px;border-color:#ffffff; 
        white-space: nowrap; background-color: #FDB5FF; background-image: url('images/titlebar.gif');
        background: #9970A8;
}       
        
.tab-hover {
        font: bold 11px/16px arial, helvetica, sans-serif;
        border-style:normal;border-top:1px;border-bottom:0px;border-width:5px;border-color:#ffffff; cursor:pointer;
        white-space: nowrap;
        background: #9970A8;
}
        
.tab-off {
        font: bold 11px/16px arial, helvetica, sans-serif;
        border-style:normal;border-top:1px;border-bottom:0px;border-width:5px;border-color:#ffffff; cursor:pointer;
        white-space: nowrap;
        background-color: #eeeeee;
}       

.tab-off a {
        font: bold 11px/16px arial, helvetica, sans-serif;
        color: #000000;
}

.tab-on a, tab-hover a {
        font: bold 11px/16px arial, helvetica, sans-serif;
        color: #ffffff;
}

.subtab-on { 
        font:normal 11px Arial;color:#002E30; height:19px;vertical-align:middle;
        border-style:solid;border-top:1px;border-bottom:0px;border-width:1px;border-color:#777772;
        background-color: #FFFFFF;
}
 
.subtab-hover {
        font:normal 11px Arial;color:#002E30; height:19px;vertical-align:middle;
        border-style:solid;border-top:0;border-bottom:0px;border-width:1px;border-color:#777772; cursor:pointer;
        background-repeat: repeat-x;
        background-image: url('images/navbar-selected.gif');
}
 
.subtab-off { 
        font:normal 11px Arial;color:#002E30; height:19px;vertical-align:middle;
        border-style:solid;border-top:0;border-bottom:0px;border-width:1px;border-color:#777772; cursor:pointer;
        background-repeat: repeat-x;
        background-image: url('images/navbar-hover.gif');
}

#tablist { font: bold 11px verdana, arial, sans-serif;
	list-style-type: none;
	height: 24px; margin: 4px 0px 0px 0px;
}
#tablist li {
	float: left;
	height: 21px; margin: 2px 0px 0px 0px;
}
#tablist a {
	font: bold 11px/16px arial, helvetica, sans-serif;
	float: left;
	display: block;
	text-decoration: none; padding: 2px 3px;
	padding : 2px 10px 2px 10px;
}
 
#tablist a:hover {
	color: #fff;
}

/*
#tablist {
	border-bottom : 1px solid #ccc;
	margin : 0;
	padding-bottom : 19px;
	padding-left : 10px;
}

#tablist ul, #tablist li	{
	display : inline;
	list-style-type : none;
	margin : 0;
	padding : 0;
}

	
#tablist a:link, #tablist a:visited	{
	background : #E8EBF0;
	border : 1px solid #ccc;
	color : #666;
	float : left;
	font-size : small;
	font-weight : normal;
	line-height : 14px;
	margin-right : 8px;
	padding : 2px 10px 2px 10px;
	text-decoration : none;
}

#tablist a:link.active, #tablist a:visited.active	{
	background : #fff;
	border-bottom : 1px solid #fff;
	color : #000;
}

#tablist a:hover	{
	color : #f00;
}

	
body.section-1 #tablist li#nav-1 a, 
body.section-2 #tablist li#nav-2 a,
body.section-3 #tablist li#nav-3 a,
body.section-4 #tablist li#nav-4 a {
	background : #fff;
	border-bottom : 1px solid #fff;
	color : #000;
}

#tablist #subnav-1,
#tablist #subnav-2,
#tablist #subnav-3,
#tablist #subnav-4 {
	display : none;
	width: 90%;
}

body.section-1 #tablist ul#subnav-1, 
body.section-2 #tablist ul#subnav-2,
body.section-3 #tablist ul#subnav-3,
body.section-4 #tablist ul#subnav-4 {
	display : inline;
	left : 10px;
	position : absolute;
	top : 95px;
}

body.section-1 #tablist ul#subnav-1 a, 
body.section-2 #tablist ul#subnav-2 a,
body.section-3 #tablist ul#subnav-3 a,
body.section-4 #tablist ul#subnav-4 a {
	background : #fff;
	border : none;
	border-left : 1px solid #ccc;
	color : #999;
	font-size : smaller;
	font-weight : bold;
	line-height : 10px;
	margin-right : 4px;
	padding : 2px 10px 2px 10px;
	text-decoration : none;
}

 #tablist ul a:hover {
	color : #f00 !important;
}

#contents {
	background : #fff;
	border : 1px solid #ccc;
	border-top : none;
	clear : both;
	margin : 0px;
	padding : 15px;
}*/
