<div class="container-fluid">
  <div class="row">
    {{app-attempt-table attempt=model.attempt}}
  </div>

  <!-- containers table -->
  <div class="row">
     {{timeline-view parent-id="containers-timeline-div" my-id="timeline-view" height="400" rmModel=model.rmContainers tsModel=model.tsContainers label="shortAppAttemptId" attemptModel=false}}
  </div>
</div>

{{outlet}}