/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * Fixing broken datatable styles after
 * upgrading jquery.dataTables.min.js to v1.10.18
 */

.dataTables_wrapper {
  border: 1px solid #aaaaaa;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
  padding: 5px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
  width: 50%;
  height: 27px;
  box-sizing: border-box;
  background-color: #cccccc;
}

.dataTables_wrapper .dataTables_info {
  color: #222222;
  padding: 13px 5px;
}

table.dataTable thead th,
table.dataTable thead td {
  color: #555555;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  background-color: #e6e6e6;
}

table.dataTable thead th:last-of-type,
table.dataTable thead td:last-of-type {
  border-right: none;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #aaaaaa;
}

table.dataTable tbody tr.even {
  background: rgba(0, 0, 255, 0.05);
}
