<html>
  <head>
    <meta charset="utf-8">
    <style type="text/css">
      .td1 '{'
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
        width: 50%;
      '}'
      table.gridtable '{'
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:#333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
        margin-top: 80px;
      '}'
      .td2 '{'
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
        width: 50%;
      '}'
    </style>
  </head>
  <body>
    <table class="gridtable" align="center" width="400px">
      <tr>
        <td colspan="2" class="td2" align="center">
          <b>SLS Simulate Information</b>
        </td>
      </tr>
      {0}
      <tr>
        <td align="center" height="80px">
          <a href="simulate">Simulation Charts</a>
        </td>
        <td align="center">
          <a href="track">Tracked Jobs & Queues</a>
        </td>
      </tr>
    </table>
  </body>
</html>
