Package: fk-hadoop-source-tar-repo
Version: 3.2.1
Section: flipkart/base-hadoop-infra-builder
Priority: standard
Architecture: amd64
Maintainer: fdp-infra-dev@flipkart.com
Description: Hadoop build tar.gz will be pushed to reposervice
