{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

<div class="app-timeout-wrapper">
  {{#unless isAppTimedOut}}
    <div class="panel panel-default">
      <div class="panel-body">
        <label>Application will be timed out after <span class="text-danger">{{appTimeoutValue}}</span></label>
        <div class="progress">
          <div class="progress-bar progress-bar-danger progress-bar-striped active" style="{{appTimeoutBarStyle}}"></div>
        </div>
        <div>
          <label class="pull-left">{{app.startTime}}</label>
          <label class="pull-right">{{app.applicationExpiryTime}}</label>
        </div>
      </div>
    </div>
  {{/unless}}
</div>
